.header {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: #59595B;
}

h1 {
  margin: 0;
}

.navLinks {
  list-style: none;
  padding: 0;
}

.navLinks li {
  display: inline;
  margin-right: 20px;
}

.navLinks li a {
  color: #59595B;
  text-decoration: none;
}

.logoImages{
  width: 100px;
}